@page "/register"
@using WebApp.Services
@inject UserService UserService
@inject NavigationManager NavManager
@using Core.Models


<div class="page-background">
    <div class="card-box">
        <h2 class="main-heading">GenbrugsMarked</h2>
        <p class="sub-heading">Erhvervsakademi Aarhus</p>
        <h4 class="mb-4">Opret bruger</h4>
        <input @bind="name" placeholder="Navn" class="field"/>  <p></p>
        <input @bind="email" placeholder="Email" class="field"/>  <p></p>
        <input @bind="password" placeholder="Password" type="password" class="field"/>
        <p></p>
        <hr>
        <p></p>
        <button @onclick="RegisterUser" class="primary-button">Opret</button>
        </div>
</div>

<p>@message</p>

@code {
    private string name = "";
    private string email = "";
    private string password = "";
    private string message = "";

    private async Task RegisterUser()
    {
        var newUser = new User { Name = name, Email = email, Password = password };
        var created = await UserService.RegisterAsync(newUser);

        if (created != null)
        {
            message = "Bruger oprettet! Du kan nu logge ind.";
            NavManager.NavigateTo("/login");
        }
        else
        {
            message = "Noget gik galt. Prøv igen.";
        }
    }
}