@page "/register"
@using WebApp.Services
@inject UserService UserService
@inject NavigationManager NavManager
@using Core.Models


<div class="page-background">
    <div class="card-box">
        <h2 class="main-heading">GenbrugsMarked</h2>
        <p class="sub-heading">Erhvervsakademi Aarhus</p>
        <h4 class="mb-4">Opret bruger</h4>
        <input @bind="name" placeholder="Navn" class="field"/>
        <p></p>
        <input @bind="email" placeholder="Email" class="field"/>
        <p></p>
        <input @bind="password" placeholder="Password" type="password" class="field"/>
        <p></p>
        <hr>
        <p></p>
        <button @onclick="RegisterUser" class="primary-button">Opret</button>
        @if (!string.IsNullOrEmpty(message))
        {
            <div class="error-message">@message</div> <!-- BESKED HER -->
        }
    </div>
</div>

@code {
    private string name = "";
    private string email = "";
    private string password = "";
    private string message = "";

    //Tjekkes om alle felter er udfyldt
    //Hvis ja, user oprettes - sender brugeren til backend via UserService.ResigsterAsync
    //Hvis nej, felmeddelse
    private async Task RegisterUser()
    {
        if (string.IsNullOrWhiteSpace(name) || string.IsNullOrWhiteSpace(email) || string.IsNullOrWhiteSpace(password))
        {
            message = "Udfyld venligst alle felter.";
            return;
        }
        
        var newUser = new User { Name = name, Email = email, Password = password };
        var created = await UserService.RegisterAsync(newUser);
        NavManager.NavigateTo("/login"); //Redirect til login
    }
}