@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject NavigationManager NavManager

<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="">EAAA Markedsplads</a>
        <button class="navbar-toggler @NavButtonCssClass" type="button" @onclick="ToggleNavMenu"
                data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse @NavBarCssClass" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="bi bi-house-door" aria-hidden="true"></span> Hjem
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="login">
                        <span class="bi bi-box-arrow-in-right" aria-hidden="true"></span> Login
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="my-sales">
                        <span class="bi bi-receipt" aria-hidden="true"></span> Mine annoncer
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="market">
                        <span class="bi bi-shop" aria-hidden="true"></span> Markedsplads
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="my-purchases">
                        <span class="bi bi-bag" aria-hidden="true"></span> Mine indkøb
                    </NavLink>
                </li>
                <li class="nav-item">
                    <button @onclick="Logout" class="btn btn-sm btn-danger mt-2">Log ud</button>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string? NavBarCssClass => collapseNavMenu ? null : "show";
    private string? NavButtonCssClass => collapseNavMenu ? "collapsed" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task Logout()
    {
        await LocalStorage.RemoveItemAsync("loggedInUser");
        NavManager.NavigateTo("/login", true);
    }
}
