@using Core.Models
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject NavigationManager NavManager

<nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="">EAAA Markedsplads</a>
        <button class="navbar-toggler @NavButtonCssClass" type="button" @onclick="ToggleNavMenu"
                data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse @NavBarCssClass" id="navbarCollapse">
            <ul class="navbar-nav mx-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="bi bi-house-door" aria-hidden="true"></span> Hjem
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="my-sales">
                        <span class="bi bi-receipt" aria-hidden="true"></span> Mine annoncer
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="market">
                        <span class="bi bi-shop" aria-hidden="true"></span> Markedsplads
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="my-purchases">
                        <span class="bi bi-bag" aria-hidden="true"></span> Mine indkøb
                    </NavLink>
                </li>
            </ul>

            <div class="d-flex align-items-center">
                @if (loggedInUser != null)
                {
                    <div class="profile-circle me-3" title="@loggedInUser.Name">
                        @loggedInUser.Name.Substring(0, 1)
                    </div>
                    <button @onclick="Logout" class="btn btn-outline-danger btn-sm">Log ud</button>
                }
                else
                {
                    <NavLink class="btn btn-outline-success btn-sm" href="login">
                        Log ind
                    </NavLink>
                }
            </div>

        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;
    private User? loggedInUser;

    private string? NavBarCssClass => collapseNavMenu ? null : "show";
    private string? NavButtonCssClass => collapseNavMenu ? "collapsed" : null;
    
    protected override async Task OnInitializedAsync()
    {
        NavManager.LocationChanged += OnLocationChanged;
        await LoadUser();
    }
    
    private async void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        await LoadUser();
    }
    
    private async Task LoadUser()
    {
        loggedInUser = await LocalStorage.GetItemAsync<User>("loggedInUser");
        StateHasChanged();
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task Logout()
    {
        await LocalStorage.RemoveItemAsync("loggedInUser");
        NavManager.NavigateTo("/login", true);
    }
}
